
<ion-card class="card-header">

        <ion-img routerLink="/reg-screen00" class="Back_icon" src="./assets/img/Back_icon.svg"></ion-img>
        <div class="number-text">NÚMERO DE CELULAR</div>
        <div class="adjust">
                <ion-img class="activated-step" src="./assets/img/Paso_activo.svg"></ion-img>
                <hr class="line">
                <ion-img class="disabled-step" src="./assets/img/Paso_Desactivo.svg"></ion-img>
                <hr class="line">
                <ion-img class="disabled-step" src="./assets/img/Paso_Desactivo.svg"></ion-img>
                <hr class="line">
                <ion-img class="disabled-step" src="./assets/img/Paso_Desactivo.svg"></ion-img>

        </div>


</ion-card>

<div class="oink-div">
        <ion-grid style="padding-bottom: 8px">
                <ion-row>
                        <ion-col  class="col-oink">
                                <ion-img class="oink" src="./assets/img/Oink.svg"></ion-img>
                        </ion-col>
                        <ion-col  class="col-text">
                                <ion-text class="text">Para comenzar, por favor </ion-text>
                                <br>
                                <ion-text class="text">ingresa <strong>tu número celular.</strong> </ion-text>
                        </ion-col>
                </ion-row>
        </ion-grid>
</div>
<hr class="line-green">

<ion-content>
        <ion-card class="card-center">
                <ion-grid>
                        <ion-row>
                                <ion-col style="display: flex; padding-top: 16px">
                                        <ion-img class="bandera" src="./assets/img/Bandera@2x.png"></ion-img>
                                        <ion-text
                                                style="margin-left: 15px;
                                padding-right: 6px;
                                font-family: 'Roboto Light', Regular;
                                font-weight: bold;
                                margin-top: 2px">+57
                                        </ion-text>
                                        <span class="span-parentesis">(</span>
                                        <ion-grid>
                                                <form [formGroup]="form" (ngSubmit)="num()">
                                                        <div style="display: flex">
                                                                <div style="width: 50px">
                                                                        <ion-input type="number" formControlName="firsNumPart" style="margin-top: -10px;margin-left: 2px;" autofocus="autofocus" placeholder=" X X X "></ion-input>
                                                                </div>
                                                                <div style="display: flex; width: 110px;">
                                                                        <ion-input type="number" formControlName="secondNumPart" style="margin-top: -10px;" autofocus="autofocus" placeholder="  X X X X X X ">-</ion-input>
                                                                </div>
                                                                <div style="margin-left: -16px">
                                                                        <span class="span-parentesis">)</span>
                                                                </div>
                                                        </div>



                                                </form>

                                        </ion-grid>


                                </ion-col>
                        </ion-row>

                </ion-grid>

        </ion-card>

        <div>
                <ion-list class="listN1" style="display: flex; justify-content: center; margin-right: -116px;">

                                <span class="textNum"><h1 style="margin-left: -128px">1</h1></span>


                                <span class="textNum"><h1>2</h1></span>


                                <span class="textNum"><h1 style="margin-left: 108px">3</h1></span>

                </ion-list>
                <ion-list class="listN1" style="display: flex; justify-content: center; margin-right: -116px;">

                        <span class="textNum"><h1 style="margin-left: -128px">4</h1></span>


                        <span class="textNum"><h1>5</h1></span>


                        <span class="textNum"><h1 style="margin-left: 108px">6</h1></span>

                </ion-list>
                <ion-list class="listN1" style="display: flex; justify-content: center; margin-right: -116px;">

                        <span class="textNum"><h1 style="margin-left: -128px">7</h1></span>


                        <span class="textNum"><h1>8</h1></span>


                        <span class="textNum"><h1 style="margin-left: 108px">9</h1></span>

                </ion-list>
                <ion-list class="listN1" style="display: flex; justify-content: center; margin-right: -116px;">

                        <span class="textNum"><h1 style="margin-left: -128px">
                                <ion-img style="width: 49px;margin-left: 6px;"
                                         src="./assets/img/borrar_teclado.svg"></ion-img>
                        </h1></span>


                        <span style="margin-right: -35px; padding: 0 20px" class="textNum"><h1>0</h1></span>


                        <span class="textNum"><h1 style="margin-left: 108px">
                                <ion-img style="width: 51px;margin-top: -10px;"
                                         src="./assets/img/Check_unable.svg">

                                </ion-img></h1></span>

                </ion-list>

        </div>
</ion-content>
