holaaaa
<div class="select-main-container" (click)="toggleExpanded()" [ngClass]="{ 'expanded-select': expanded  }">
  <h4 class="select-text">{{ selectedOption ?  selectedOption : 'Tipo de documento' }}</h4>
  <div class="bottom-line"></div>
</div>
<div class="select-options" [ngClass]="{ 'options-selected': expanded  }">
    <div class="option" *ngFor="let option of options" (click)="selectOption(option)"
    [ngClass]="{ 'selected-option': selectedOption === option  }">
        <h4 class="option-text" >{{option}}</h4>
    </div>
</div>
<div class="shadow" [ngClass]="{ 'shadow-selected': expanded  }">

</div>




