*{
  padding: 0;
  margin: 0;
}


.Back_icon {
  width: 13.32px;
  height: 21.6px;
  margin-top: 20px;
  margin-left: 20px;
}
.card-header {
  height: 88px;
  border-radius: 0px;
  -webkit-box-shadow: -1px 10px 5px 4px #E5E5E5;
  -moz-box-shadow: -1px 10px 5px 4px #E5E5E5;
  box-shadow: -1px 10px 5px 4px rgba#E5E5E5;
  background-color: #FAFAFA;
}
.number-text {
  font-family:'Montserrat', Medium;
  color: var(--ion-color-darkGreen);
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  margin-top: -20px;
}

.activated-step {
  width: 156px;
  height: 19px;
  margin-top: 16px;

}
.disabled-step {
  width: 156px;
  height: 19px;
  margin-top: 16px;
  margin-left: -62px;
}
.line {
  width: 54px;
  height: 1px;
  margin-top: 25px;
  margin-left: -62px;
  background: #D3D3D3;
}
.adjust {
  display: flex;
  margin-left: 63px;
}
.ion-content {
  margin-top: 20px;
}
.oink {
  width: 75.67px;
  height: 66.94px;
  margin-left: 40px;
}
.oink-div {
  display: flex;
  margin-top: 40px;
}
.col-text {
  margin-top: -3px;
  margin-left: -146px;
}
.text {
  font-family: "Avenir Next LT Pro";
  color: #aaaaaa;
}
.line-green {
  width:  379px;
  height: 2px;
  background-color: var(--ion-color-ligthGreen);
  margin-left: 18px;
  margin-top: 30px;
}

.textDato {
  color: var(--ion-color-darkGreen);
  font-weight: bold;
}

.dropdown {
  width: 480px;
  position: relative;
  margin-top: 20px
}
.dropdown-select {
  padding: 24px;
  width: 100%;
  display: flex;
}
.icon {
  margin-left: 374px;
  font-size: 14px;
  top: -7px;
  position: relative;
  cursor: pointer;
}
.dropdown-list {
  visibility: visible;
  transition: opacity 0.2s linear, visibility 0.2s linear;
  font-size: 16px;
  margin-top: 14px;
}

.dropdown_item {
  color: #7d7d7d;
  margin-left: 32px;
}
.get-into-text {
  font-family: 'Montserrat', Medium;
  margin-top: 13px;
  font-size: 25px;
  color: #004B40;
}
.get-into3 {
  display: flex;
  justify-content: center;
  margin-top: 105px;
  margin-left: 13px;
  background-color: #878787;
  border-radius: 40px 40px 40px 40px;
  width: 388px;
  height: 55px;
}
.get-into2 {
  display: flex;
  justify-content: center;
  margin-top: 105px;
  margin-left: 13px;
  background-color: var(--ion-color-ligthGreen);
  border-radius: 40px 40px 40px 40px;
  width: 388px;
  height: 55px;
}

.tex-document {
  color: #aaaaaa;
  cursor: pointer;
  margin-left: 20px;
  position: relative;
  top: 13px;
}
.genderText {
  color: #aaaaaa;
  cursor: pointer;
}

.dni-text {
  font-size: 16px;
  color: #777777;
  margin-top: 4px;
  margin-left: 12px;
}
.dni-text:hover{
  background-color: #eeeeee;
}


.w3-modal-content .w3-card-2 {
  max-width: 22% !important;
}
.colArrow {
  margin-top: -22px;
  margin-right: 33px;
  margin-left: -2px;
}
.divDni {
  display: flex;
  flex-direction: column;
  margin-left: 17px;
  margin-top: -2px;
  position: absolute;
  z-index: 100;
  background-color: #f9f9f9;
  width: 100%;
}
.spanError {
  color: #F44336;
  font-size: 20px;
  padding: 22px;
  margin-left: -29px;
}
.textVolver {
  color: #004B40;
  margin-left: 198px;
  margin-bottom: 30px;
  font-weight: bold;
}
.w3-modal-content{
  margin-top: 275px;
  width: 319px !important;
  height: 165px;
  margin-left: 48px;
  border-radius: 4px;
}
.spanErrorConexion {
  color: #F44336;
  font-size: 20px;
  padding: 22px;
  margin-left: -29px;
}
.textVolver {
  color: #004B40;
  margin-left: 198px;
  margin-bottom: 30px;
  font-weight: bold;
}
.spanAlgoPasa {
  color: #F44336;
  font-size: 20px;
  padding: 22px;
  margin-left: -29px;
}
.hr {
  border: 2px solid
  #d6d6d6;
  width:400px;
  height: 1px;
  margin-left: 21px;
}
.text-document2 {
  font-size: 15px;
  margin-left: 20px;
  top: 14px;
  color: #aaaaaa;
  cursor: pointer;
  position: relative;
}
.icon2 {
  color: #757575;
  margin-left: 374px;
  font-size: 14px;
  top: -7px;
  position: relative;
  cursor: pointer;
}
.hr2 {
  border: 1px solid #d6d6d6;
  width:400px;
  height: 1px;
  margin-left: 21px;
}
