<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<ion-card class="card-header">

  <ion-img routerLink="/cod-verif" class="Back_icon" src="./assets/img/Back_icon.svg"></ion-img>
  <div class="number-text">DATOS DE TU CUENTA</div>
  <div class="adjust">
    <ion-img class="disabled-step" src="./assets/img/Paso_Desactivo.svg"></ion-img>
    <hr class="line">
    <div style="margin-left: -65px;">
      <ion-img class="activated-step" src="./assets/img/Paso_activo.svg"></ion-img>
    </div>
    <hr class="line">
    <ion-img class="disabled-step" src="./assets/img/Paso_Desactivo.svg"></ion-img>
    <hr class="line">
    <ion-img class="disabled-step" src="./assets/img/Paso_Desactivo.svg"></ion-img>

  </div>


</ion-card>

<div class="oink-div">
  <ion-grid style="padding-bottom: 8px">
    <ion-row>
      <ion-col  class="col-oink">
        <ion-img class="oink" src="./assets/img/Oink-M.svg"></ion-img>
      </ion-col>
      <ion-col  class="col-text">
        <ion-text class="textDato">¿CUALES SON TUS DATOS?</ion-text>
        <br>
        <div style="margin-top: 9px">
          <ion-text class="text">Ahora necesitamos saber algunos<br> datos tuyos </ion-text>
        </div>
      </ion-col>
    </ion-row>
    <hr class="line-green">
  </ion-grid>
</div>
<ion-content>

  <form [formGroup]="userForm" (ngSubmit)="continue()">
    <ion-card style="width: 406px; box-shadow: none">
      <div style="position: relative; margin-bottom: -1px;" [style]="(show)? 'background-color: rgb(249 249 249)':'background-color: white'">
        <ion-grid>
          <ion-row>
            <ion-col (click)="show = !show">
              <ion-text  (click)="show = !show" class="tex-document" [style]="(show)? 'font-size: 20px': 'font-size: 18px'">
                {{ selectedOption ?  selectedOption : 'Tipo de documento' }}</ion-text>
            </ion-col>
            <ion-col>
              <ion-icon (click)="show = !show" class="icon" style="color: #757575" src="./assets/img/drop-down-arrow.svg"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>

        <hr class="hr2">

        <div class="divDni" *ngIf="show" [style]="(show)? 'background-color: rgb(249 249 249)':'background-color: none'">
          <ion-text class="dni-text" *ngFor="let dni of optionsDni" (click)="selectOption(dni)">
            {{dni}}
          </ion-text>
        </div>
      </div>

      <ion-item style="z-index: 0">
        <ion-label style="color:#AAAAAA; z-index: 0" position="floating">Número de documento</ion-label>
        <ion-input formControlName="documentNumber"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="color:#AAAAAA" position="floating">Fecha de nacimiento</ion-label>
        <ion-input formControlName="dateBorn"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="color:#AAAAAA" position="floating">Fecha de expedición del documento</ion-label>
        <ion-input formControlName="dateExpedition"></ion-input>
      </ion-item>
      <div [style]="(show2)? 'background-color: rgb(249 249 249)':'background-color: white'">
        <div  style="position: relative; margin-bottom: -1px">
          <ion-grid>
            <ion-row>
              <ion-col (click)="show2 = !show2">
                <ion-text  (click)="show2 = !show2" class="text-document2" [style]="(show2)? 'font-size: 15px': 'font-size: 15px'">
                  {{ genderOptions ?  genderOptions : 'Género que aparece en tu documento de identidad' }}</ion-text>
              </ion-col>
              <ion-col>
                <ion-icon (click)="show2 = !show2" class="icon2" style="" src="./assets/img/drop-down-arrow.svg"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>

          <hr class="hr2">

          <div class="divDni" *ngIf="show2" [style]="(show2)? 'background-color: rgb(249 249 249)':'background-color: none'">
            <ion-text class="dni-text" *ngFor="let gender of options" (click)="selectGender(gender)">
              {{gender}}
            </ion-text>
          </div>
        </div>
      </div>

      <button class="get-into" (click)="continue()">
        <span class="get-into-text">Continuar</span>
      </button>
    </ion-card>
  </form>


</ion-content >

<div class="w3-container" style="margin:-60px">

  <button id="modal1" style="visibility: hidden" onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Fade In Modal</button>

  <div id="id01" class="w3-modal w3-animate-opacity" >
    <div class="w3-modal-content w3-card-4">
      <div>

        <div class="w3-container" style="padding-top: 14px;">
          <span class="spanError" style="">Error</span><br>

          <div style="padding-top: 8px">
            <ion-text>El numero de documento <strong>80186587</strong> ya </ion-text>
            <ion-text>está asociado a otro usuario.</ion-text>
          </div>

        </div>
        <div class="w3-container" style="margin-top: 20px">
          <ion-text class="textVolver"
                    onclick="document.getElementById('id01').style.display='none'"
          >VOLVER</ion-text>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="w3-container">

  <button id="modal2" style="visibility: hidden" onclick="document.getElementById('id0').style.display='block'" class="w3-button w3-black">Fade In Modal</button>

  <div id="id0" class="w3-modal w3-animate-opacity" >
    <div class="w3-modal-content w3-card-4">
      <div>

        <div class="w3-container" style="padding-top: 14px;">
          <span class="spanErrorConexion" style="">Error de conexión</span><br>

          <div style="padding-top: 8px">
            <ion-text>Revisa tu conexión a internet e intenta de</ion-text><br>
            <ion-text>nuevo</ion-text>
          </div>

        </div>
        <div class="w3-container" style="margin-top: 20px">
          <ion-text class="textVolver"
                    onclick="document.getElementById('id0').style.display='none'"
          >VOLVER</ion-text>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="w3-container">

  <button id="modal3" style="visibility: hidden" onclick="document.getElementById('id3').style.display='block'" class="w3-button w3-black">Fade In Modal</button>

  <div id="id3" class="w3-modal w3-animate-opacity" >
    <div class="w3-modal-content w3-card-4">
      <div>

        <div class="w3-container" style="padding-top: 14px;">
          <span class="spanAlgoPasa">Algo pasa</span><br>

          <div style="padding-top: 8px">
            <ion-text>Los datos que pusiste no coinciden,</ion-text><br>
            <ion-text>revisa y vuelve a intentarlo</ion-text>
          </div>

        </div>
        <div class="w3-container" style="margin-top: 20px">
          <ion-text class="textVolver"
                    onclick="document.getElementById('id3').style.display='none'"
          >VOLVER</ion-text>
        </div>
      </div>
    </div>
  </div>
</div>
