*{
  padding: 0;
  margin: 0;
}


.Back_icon {
  width: 13.32px;
  height: 21.6px;
  margin-top: 20px;
  margin-left: 20px;
}
.card-header {
  height: 88px;
  border-radius: 0px;
  -webkit-box-shadow: -1px 10px 5px 4px #E5E5E5;
  -moz-box-shadow: -1px 10px 5px 4px #E5E5E5;
  box-shadow: -1px 10px 5px 4px rgba#E5E5E5;
  background-color: #FAFAFA;
}
.number-text {
  font-family:'Montserrat', Medium;
  color: var(--ion-color-darkGreen);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: -20px;
}

.activated-step {
  width: 156px;
  height: 19px;
  margin-top: 16px;

}
.disabled-step {
  width: 156px;
  height: 19px;
  margin-top: 16px;
  margin-left: -62px;
}
.line {
  width: 54px;
  height: 1px;
  margin-top: 25px;
  margin-left: -62px;
  background: #D3D3D3;
}
.adjust {
  display: flex;
  margin-left: 63px;
}
.ion-content {
  margin-top: 20px;
}
.oink {
  width: 75.67px;
  height: 80px;
  position: absolute;
  left: 38px;
  top: -9px;
}
.oink-div {
  display: flex;
  margin-top: 40px;
}
.col-text {
  margin-top: -3px;
  margin-left: -146px;
}
.text {
  font-family: "Avenir Next LT Pro";
  color: #878787;
}
.line-green {
  width:  379px;
  height: 2px;
  background-color: var(--ion-color-ligthGreen);
  margin-left: 18px;
  margin-top: 30px;
}

.textDato {
  color: var(--ion-color-darkGreen);
  font-weight: bold;
}
.icon-check {
  width: 40px;
  height: 30px;
  margin-top: 7px;
}
.get-into-text {
  font-family: 'Montserrat', Medium;
  margin-top: 18px;
  font-size: 21px;
  color: #004B40;
  font-weight: bold;
}
.get-into {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-left: -16px;
  background-color: var(--ion-color-ligthGreen);
  border-radius: 40px 40px 40px 40px;
  width: 388px;
  height: 55px;
}
.divTextArea {
  color: #707070;
  margin-left: 30px;
  margin-top: 30px;
}
.marginTop {
  margin-top: 21px;
}
.divText {
  margin-top: 106px;
  color: #404040;
  display: flex;
  font-family: Montserrat;
}
