ion-content {
  --ion-background-color: #1EEA00;
}
div {
  display: flex;
  justify-content: center;
  margin-top: 50%;
}
.ion-logo {
  width: 147.76px;
  height: 144.49px;
}
.ion-logo2 {
  margin-top: -30%;
  width: 222.08px;
  height: 50.01px;
}
