<ion-header>
  <ion-toolbar>
    <ion-img slot="end" class="Mas_icon" src="./assets/img/Mas_icon.svg"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-margin-top">
    <ion-row>
      <ion-col size="3.9">

      </ion-col>
      <ion-col size="4">
        <ion-img class="Logo" src="./assets/img/Logo.svg"></ion-img>
      </ion-col>
      <ion-col size="4">

      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-text class="text-alcancia">
    <div class="ion-text-center">
      LA ALCANCÍA QUE SIEMPRE <br>TE ACOMPAÑA
    </div>
  </ion-text>
  <div class="info-centro">
    <div class="ion-text-center desliza">
      Desliza para aprender más
    </div>
    <div class="circle-button0"></div>
    <div class="circle-button1"></div>
    <div class="circle-button2"></div>
    <div class="circle-button3"></div>
    <div class="circle-button4"></div>
    <div class="circle-button5"></div>
    <div class="circle-button6"></div>
    <div class="circle-button7"></div>
  </div>

  <div class="register">
    <span class="register-text">Regístrate</span>
  </div>
  <div class="get-into">
    <span class="get-into-text">Ingresa</span>
  </div>

</ion-content>
