<ion-card class="card-header">

  <ion-img routerLink="/info-gen" class="Back_icon" src="./assets/img/Back_icon.svg"></ion-img>
  <div class="number-text">DATOS DE TU CUENTA</div>
  <div class="adjust">
    <ion-img class="disabled-step" src="./assets/img/Paso_Desactivo.svg"></ion-img>
    <hr class="line">
    <div style="margin-left: -65px;">
      <ion-img class="activated-step" src="./assets/img/Paso_activo.svg"></ion-img>
    </div>
    <hr class="line">
    <ion-img class="disabled-step" src="./assets/img/Paso_Desactivo.svg"></ion-img>
    <hr class="line">
    <ion-img class="disabled-step" src="./assets/img/Paso_Desactivo.svg"></ion-img>

  </div>


</ion-card>

<div class="oink-div">
  <ion-grid style="padding-bottom: 8px">
    <ion-row>
      <ion-col  class="col-oink">
        <ion-img class="oink" src="./assets/img/Oink-M.svg"></ion-img>
      </ion-col>
      <ion-col  class="col-text">
        <ion-text class="textDato">VERIFICA TUS DATOS</ion-text>
        <br>
        <div style="margin-top: 9px">
          <ion-text class="text">Estos no son tus datos?……. </ion-text>
          <br>
          <ion-text class="text">Lorem ipsuum</ion-text>
        </div>
      </ion-col>
    </ion-row>
    <hr class="line-green">
  </ion-grid>
</div>
<ion-content>
  <form [formGroup]="userForm" (ngSubmit)="continue()">
    <ion-item>
      <ion-label style="color:#AAAAAA" position="floating">Primer nombre</ion-label>
      <ion-input style="color: #004B40"  formControlName="firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label style="color:#AAAAAA" position="floating">Segundo nombre</ion-label>
      <ion-input style="color: #004B40" formControlName="secondName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label style="color:#AAAAAA" position="floating">Primer apellido</ion-label>
      <ion-input style="color: #004B40"  formControlName="lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label style="color:#AAAAAA" position="floating">Segundo apellido</ion-label>
      <ion-input style="color: #004B40"  formControlName="secondLastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label style="color:#AAAAAA; margin-bottom: 30px;" position="floating">Genero</ion-label>
      <ion-text style="color: #004B40">{{gender}}</ion-text>
    </ion-item>
    <div class="divBotons">
      <div class="get-into-out" (click)="cancel()">
        <span class="get-out-text">Cancelar</span>
      </div>
      <button class="get-into" (click)="continue()">
        <span class="get-into-text">Continuar</span>
      </button>
    </div>
  </form>

</ion-content>
