*{
  padding: 0;
  margin: 0;
}


.Back_icon {
  width: 13.32px;
  height: 21.6px;
  margin-top: 20px;
  margin-left: 20px;
}
.card-header {
  height: 88px;
  border-radius: 0px;
  -webkit-box-shadow: -1px 10px 5px 4px #E5E5E5;
  -moz-box-shadow: -1px 10px 5px 4px #E5E5E5;
  box-shadow: -1px 10px 5px 4px rgba#E5E5E5;
  background-color: #FAFAFA;
}
.number-text {
  font-family:'Montserrat', Medium;
  color: var(--ion-color-darkGreen);
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  margin-top: -20px;
}

.activated-step {
  width: 156px;
  height: 19px;
  margin-top: 16px;

}
.disabled-step {
  width: 156px;
  height: 19px;
  margin-top: 16px;
  margin-left: -62px;
}
.line {
  width: 54px;
  height: 1px;
  margin-top: 25px;
  margin-left: -62px;
  background: #D3D3D3;
}
.adjust {
  display: flex;
  margin-left: 63px;
}
.ion-content {
  margin-top: 20px;
}
.oink {
  width: 75.67px;
  height: 66.94px;
  margin-left: 40px;
}
.oink-div {
  display: flex;
  margin-top: 40px;
}
.col-text {
  margin-top: -3px;
  margin-left: -146px;
}
.text {
  font-family: "Avenir Next LT Pro";
  color: #aaaaaa;
}
.line-green {
  width:  379px;
  height: 2px;
  background-color: var(--ion-color-ligthGreen);
  margin-left: 18px;
  margin-top: 30px;
}

.textDato {
  color: var(--ion-color-darkGreen);
  font-weight: bold;
}

.dropdown {
  width: 480px;
  position: relative;
}
.dropdown-select {
  padding: 24px;
  width: 100%;
  display: flex;
}
.icon {
  margin-left: 227px;
}
.dropdown-list {
  visibility: hidden;
  transition: opacity 0.2s linear, visibility 0.2s linear;
}
.dropdown-list:active {
  color: #EEEEEE;
}
.dropdown_item {
  color: #4D4D4D;
  margin-left: 32px;
}
.get-into-text {
  font-family: 'Montserrat', Medium;
  margin-top: 17px;
  font-size: 21px;
  color: #004B40;
}
.get-into {
  display: flex;
  justify-content: center;
  margin-top: 6px;
  margin-left: 13px;
  background-color: var(--ion-color-ligthGreen);
  border-radius: 40px 40px 40px 40px;
  width: 169px;
  height: 54px;
}
.get-out-text {
  background-color: #F44336;
  display: flex;
  justify-content: center;
  margin-top: -6px;
  margin-left: 13px;
  border-radius: 40px 40px 40px 40px;
  width: 169px;
  height: 55px!important;
  padding-top: 12px;
}
.get-into-out {
  font-family: 'Montserrat', Medium;
  margin-top: 12px;
  font-size: 21px;
  color: #ffffff;
}
.divBotons {
  display: flex;
  margin-top: 57px;
  margin-left: 17px;
}
